<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <!-- Javascript File-->
    <style>
        .header-button{
            text-decoration:none;
            color: white;

        }
        .header-button:hover{
            text-decoration:none;
            color: white;

        }
    </style>

    <title>Employee Database Project</title>
</head>

<body>
    <div class="container-fluid" style="background-color: red;padding-top: 8px;padding-bottom: 8px;">
        <div class="row">
            <div class="col-md">
                <span style="font-weight: bold;font-size: 20px;color:white"><a href="/" class="header-button">Employee Database Project</a></span>
            </div>
            <div class="col-md d-flex justify-content-end" style="color: white;">
                <span style="font-size: 17px;"><a href="/employee/new" class="header-button">Add New Employee</a></span>&emsp;
                <span style="font-size: 17px;"><a href="/employee/search" class="header-button">Search</a></span>&emsp;
            </div>
        </div>

    </div>
    <br>